.relation-group{
    position: relative;
}
.relation-group>ul{
    position: absolute;
    z-index: 200;
    padding: 2px 3px;
    border: 1px solid black;
    background-color: white;
    max-height: 600px;
    list-style:none;
    margin: 0;
}
.relation-group>ul>li{
    cursor: pointer;
}
.relation-group>ul>li:hover{
    background-color: gold;
    /*color: white;*/
}